body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

#main-navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#main-navbar .nav-link {
  color: #fff;
}

#main-navbar .nav-link:hover {
  color: #ea1c2c;
}

#main-navbar .navbar-brand {
  color: #ea1c2c;
}

#heading-group span {
  color: #ea1c2c;
}

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}

@media (max-width: 1250px) {
  #heading-group h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1100px) {
  #heading-group h1 {
    font-size: 3rem;
  }
}
